@model AplicacionComercial.Web.Data.Entities.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdtipoDocumento" class="control-label"></label>
                <input asp-for="IdtipoDocumento" class="form-control" />
                <span asp-validation-for="IdtipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreComercial" class="control-label"></label>
                <input asp-for="NombreComercial" class="form-control" />
                <span asp-validation-for="NombreComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresContacto" class="control-label"></label>
                <input asp-for="NombresContacto" class="form-control" />
                <span asp-validation-for="NombresContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosContacto" class="control-label"></label>
                <input asp-for="ApellidosContacto" class="form-control" />
                <span asp-validation-for="ApellidosContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodPostal" class="control-label"></label>
                <input asp-for="CodPostal" class="form-control" />
                <span asp-validation-for="CodPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label"></label>
                <input asp-for="Poblacion" class="form-control" />
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aniversario" class="control-label"></label>
                <input asp-for="Aniversario" class="form-control" />
                <span asp-validation-for="Aniversario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-arrow-left"></i>Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
